body{
    background-color:white;
    color:rgb(0, 0, 0);
    margin:10px 0 20px;  
}
h1{
    text-align: center;
}
ul{
    list-style-type: none;
    
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: rgb(0, 0, 0);
}
li{
    float: left;
}
li a{
    color: rgba(255, 255, 255, 0.849);
    display:block;
    text-align: center;
    padding:20px 16px;
    text-decoration: none;
    
}
li a:hover{
    background-color: grey;
}

.Times{
    font-family:fantasy;
    font-size: 25px;

}


.Restart{
    height: 20px;
    width: 10%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    font-size: small;
    position: absolute;
    text-align: center;
    margin-left: 40%;
    margin-right: 50%;
    top: 75%;
}

 
td {
	border:  2px solid #333;
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-size:  70px;
	cursor: pointer;
}

table.TicTable {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 35%;
}

 
 table tr td.cell:hover{
     background-color: grey;
 }

 table tr.TicRow:first-child td{
     border-top: 0;
 }

 table tr.TicRow:last-child td{
    border-bottom: 0;
}

table tr td.cell:first-child{
    border-left: 0;
}

table tr td.cell:last-child{
    border-right:0;
}

.endgame{
    display: none ;
    width: 35%;
    top: 45%;
    background-color: rgba(255, 251, 0, 0.8);
    position: absolute;
    left:35%;
    padding-left: -100px;
    padding-bottom: -50px;
    padding-top: -50px;
    color:black;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
 
}

.Ai{
    width:10%;
    height:20px;
    margin-left: 50%;
    margin-right: 40%;
    position: absolute;
    top:75%;
    font-size: small;
    background-color: white;
    overflow: hidden;
    border-left: 5px;
}

table.Sutable{
    top:30%;
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -250px;
}

td.Sucells{
    width:50px;
    height:50px;
    text-align: center;
    font-size: 20px;
}

td.Sucells:hover{
    background-color: grey;
}

button.SuRestart{
    position: absolute;
    top: 90%;
    left:45%;
    margin-left: -30px;
}

button.SuCheck{
    position: absolute;
    top:90%;
    left:50%;
}

button.Numpad:nth-child(1){
    position: absolute;
    top:85%;
    left:30%;
}
button.Numpad:nth-child(2){
    position: absolute;
    top:85%;
    left:35%;
}
button.Numpad:nth-child(3){
    position: absolute;
    top:85%;
    left:40%;
}
button.Numpad:nth-child(4){
    position: absolute;
    top:85%;
    left:45%;
}
button.Numpad:nth-child(5){
    position: absolute;
    top:85%;
    left:50%;
}
button.Numpad:nth-child(6){
    position: absolute;
    top:85%;
    left:55%;
}
button.Numpad:nth-child(7){
    position: absolute;
    top:85%;
    left:60%;
}
button.Numpad:nth-child(8){
    position: absolute;
    top:85%;
    left:65%;
}
button.Numpad:nth-child(9){
    position: absolute;
    top:85%;
    left:70%;
}